<form class="m-0 columns">
    <div class="column">
        <a href="/post/1" class="p-3 column form-header">
            <h1>{{pet.pet_name}}</h1>
            <h3 class="is-capitalized">{{pet.species}}</h3>
            <h3>Age: {{pet.pet_age}}</h3>
            <h3 >Color: {{pet.color}}</h3>
            <h3 class="is-capitalized">Breed: {{pet.breed}}</h3>
        </a>
    </div>
    <div class="has-text-centered column">
        <h2 class="heading">
            Last Seen: {{last_seen_time}}
        </h2>
        <div class="last-seen-info is-flex is-flex-direction-column">
            <p>Street: {{last_seen_street}}</p>
            <p>City: {{last_seen_city}}</p>
            <p>State: {{last_seen_state}}</p>
        </div>
    </div>
    <div class="column">
        <img src="/api/pets/images/{{pet.photo}}" alt="HTML5 Icon" style="width:250px;height:250px;">
    </div>
</form>
<form>
    <!-- POST HEADER INFO -->
    <div class="form-header">
        <a class="post-link" href="/post/{{id}}">{{title}}</a>
        <h4 class="posted-by">Posted by {{user.username}} on {{created_at}}</h4>
    </div>
    <!-- POST MESSAGE -->
    <div>
        <p>test</p>
    </div>
</form>