<div>This is the dashboard</div>

<a href="/addpet" class="btn-addpost">+ Add An Pet</a>

{{!-- {{#each posts as |post|}}
<form class="m-0">
    <a href="/post/{{post.id}}" class="short-post">
        <h1 class="Post">{{pet.pet_name}}</h1>
        <p>Time: {{}}</p>
    </a>
    <div class="m-0 columns">
        <div class="column form-header fill">
            <img src="{{html5.gif}}" alt="HTML5 Icon" style="width:250px;height:250px;">
        </div>
        <div class="p-3 column form-header">
            <h3>Age: {{}}</h3>
            <h3>Color: {{}}</h3>
            <h3>Species: {{pet.species}}</h3>
            <h3>Breed: {{pet.breed}}</h3>
        </div>
        <div class="column">
            <h2 class="heading">Last Seen Info</h2>
            <p>Time: {{}}</p>
            <p>Street: {{}}</p>
            <p>City: {{}}</p>
            <p>State: {{}}</p>
            <p>Country: {{}}</p>
        </div>
    </div>
</form>
{{/each}} --}}