<h2>My Dashboard</h2>

{{#each pets as |pet|}}
<div>{{pet_name}}</div>
{{/each}}

{{#each posts as |post|}}
<form class="m-0">
    <a href="/post/{{post.id}}" class="short-post">
        <h1 class="Post">{{pet.pet_name}}</h1>
        <p>Posted by {{user.username}} {{post.created_at}}</p>
    </a>
    <div class="m-0 columns">
        <div class="column form-header fill">
            <img src="{{html5.gif}}" alt="HTML5 Icon" style="width:250px;height:250px;">
        </div>
        <div class="p-3 column form-header">
            <h3>Age: {{pet.pet_age}}</h3>
            <h3>Color: {{pet.color}}</h3>
            <h3>Species: {{pet.species}}</h3>
            <h3>Breed: {{pet.breed}}</h3>
        </div>
        <div class="column">
            <h2 class="heading">Last Seen Info</h2>
            <p>Time: {{last_seen_time}}</p>
            <p>Street: {{last_seen_street}}</p>
            <p>City: {{last_seen_city}}</p>
            <p>State: {{last_seen_state}}</p>
            <p>Country: {{last_seen_country}}</p>
        </div>
    </div>
</form>
{{/each}}

<a href="/addpet" class="btn-addpost">+ Add A Pet</a>
