<!-- QUICK FILTER -->
<form class="m-4 quick-search-form">
    <div class="form-header">
        <h2>QUICK FILTERS</h2>
    </div>
    <div class="m-1 is-flex is-justify-content-center columns">
        <button type="submit" class="column dogs">Dogs</button>
        <button type="submit" class="column cats">Cats</button>
        <button type="submit" class="column reptile">Reptiles</button>
        <button type="submit" class="column other">Others</button>
    </div>
</form>

<!-- SEARCH BAR FORM -->
<form class="m-4 search-form">
    <div class="m-2 columns">
        <input class="m-2 column is-three-quarters" type="text" placeholder="Search...">
        <button class="m-2 column">On the Prowl!</button>
    </div>
</form>

{{!-- Example Simple Post --}}
<form class="m-0 columns">
    <a href="/post/1" class="p-3 column form-header">
        <h1>Name</h1>
        <h3>Type: Dog</h3>
        <h3>Age: 00</h3>
        <h3>Color: Brown</h3>
        <h3>Breed: Husky</h3>
    </a>
    <div>
        <h2 class="heading">Last Seen information</h2>
        <p>Street: information</p>
        <p>City: information</p>
        <p>State: information</p>
    </div>
    <div class="column">
        <img src="/images/paw-print.svg" alt="image of a paw print">
    </div>
</form>

{{#each posts as |post|}}
<form class="m-0">
    <a href="/post/{{post.id}}" class="short-post">
        <h1 class="Post">{{pet.pet_name}}</h1>
        <p>Posted by {{user.username}} {{post.created_at}}</p>
    </a>
    <div class="m-0 columns">
        <div class="column form-header fill">
            <img src="/images/paw-print.svg" alt="image of a paw print">
        </div>
        <div class="p-3 column form-header">
            <h3>Age: {{pet.pet_age}}</h3>
            <h3>Color: {{pet.color}}</h3>
            <h3>Species: {{pet.species}}</h3>
            <h3>Breed: {{pet.breed}}</h3>
        </div>
        <div class="column">
            <h2 class="heading">Last Seen Info</h2>
            <p>Time: {{last_seen_time}}</p>
            <p>Street: {{last_seen_street}}</p>
            <p>City: {{last_seen_city}}</p>
            <p>State: {{last_seen_state}}</p>
            <p>Country: {{last_seen_country}}</p>
        </div>
    </div>
</form>
{{/each}}

{{#if loggedIn}}
<a href="/addpost" class="btn-addpost">+ Post A Lost Pet</a>
{{/if}}