<div>This is the Homepage</div>

<!-- QUICK FILTER -->
<form class="m-4 quick-search-form">
    <div class="form-header">
        <h2>QUICK FILTERS</h2>
    </div>
    <div class="m-1 is-flex is-justify-content-center columns">
        <button class="column">Dogs</button>
        <button class="column">Cats</button>
        <button class="column">Reptile</button>
        <button class="column">Others</button>
    </div>
</form>

<!-- SEARCH BAR FORM -->
<form class="m-4 search-form">
    <div class="m-2 columns">
        <input class="m-2 column is-three-quarters" type="text" placeholder="Search...">
        <button class="m-2 column">On the Prowl!</button>
    </div>
</form>


<form class="m-0">
    <a href="/post/1" class="short-post">
        <h1 class="p-2">Name</h1>
    </a>
    <div class="m-0 columns">
        <div class="column form-header fill">
            <img src="html5.gif" alt="HTML5 Icon" style="width:250px;height:250px;">
        </div>
        <div class="p-3 column form-header">
            <h3>Type: Dog</h3>
            <h3>Age: 00</h3>
            <h3>Color: Brown</h3>
            <h3>Breed: Husky</h3>
        </div>
        <div class="column">
            <h2 class="heading">Last Seen information</h2>
            <p>Street: information</p>
            <p>City: information</p>
            <p>State: information</p>
        </div>
    </div>
    <p class="p-2 form-header">Posted by User on 4/20/2020</p>
</form>

{{!-- {{#each posts as |post|}}
<form class="m-0">
    <a href="/post/{{post.id}}" class="short-post">
        <h1 class="Post">{{pet.pet_name}}</h1>
        <p>Time: {{}}</p>
    </a>
    <div class="m-0 columns">
        <div class="column form-header fill">
            <img src="{{html5.gif}}" alt="HTML5 Icon" style="width:250px;height:250px;">
        </div>
        <div class="p-3 column form-header">
            <h3>Age: {{}}</h3>
            <h3>Color: {{}}</h3>
            <h3>Species: {{pet.species}}</h3>
            <h3>Breed: {{pet.breed}}</h3>
        </div>
        <div class="column">
            <h2 class="heading">Last Seen Info</h2>
            <p>Time: {{}}</p>
            <p>Street: {{}}</p>
            <p>City: {{}}</p>
            <p>State: {{}}</p>
            <p>Country: {{}}</p>
        </div>
    </div>
</form>
{{/each}} --}}

<a href="/addpost" class="btn-addpost">+ Post A Lost Pet</a>