
<h1>{{posts.title}}</h1>
{{!-- POST INFO --}}
<form>
  <div class="m-0 columns">
    <div class="p-0 column">
      <div class="form-header">
        <h1 class="is-capitalized">{{posts.pet.pet_name}}</h1>
        <h3 class="is-capitalized">{{posts.pet.species}}</h3>
      </div>
      <div class="single-post-description">
        <p><span class="text-accent">Age:</span> {{posts.pet.pet_age}}</p>
        <p><span class="text-accent">Color:</span> {{posts.pet.color}}</p>
        <p><span class="text-accent">Breed:</span> {{posts.pet.breed}}</p>
      </div>
    </div>
    <div class="column is-two-thirds ">
      <img src="/api/pets/images/{{posts.pet.photo}}" alt="HTML5 Icon" style="width:400px;height:400px;">
    </div>
  </div>
  <div>
    <div class="single-post-description has-text-centered">
        <p class="has-text-centered"><span class="text-accent span-block">What to do if you encounter {{posts.pet.pet_name}}:</span> {{posts.pet.when_encounter}}</p>
        <p><span class="text-accent">Unique Features:</span> {{posts.pet.unique_features}}</p>

      </div>
  </div>
  <div>
    <h2 class="heading">Last Seen information</h2>
    <div class="single-post-description has-text-centered">
      <p><span class="text-accent">Street:</span> {{posts.last_seen_street}}</p>
      <p><span class="text-accent">City:</span> {{posts.last_seen_city}}</p>
      <p><span class="text-accent">State: </span>{{posts.last_seen_state}}</p>
    </div>
  </div>
</form>

<div class="comment columns">
  
  <div class="column is-four-fifths">
    <div>
      <p>I saw them at the hospital</p>
    </div>
  </div>
  <div class="comment-header column">
    <p>Username</p>    
    <p>1 day ago</p>
  </div>
</div>

{{#if loggedIn}}
<!-- POST A COMMENT FORM -->
<form>
  <div class="form-header">
    <h2>POST A COMMENT</h2>
  </div>
  <div class="m-2">
    <textarea class="m-0 textarea" placeholder="Text area..."></textarea>
  </div>
  <button class="btn-generic">Post</button>
</form>

{{/if}}